<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
        http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx">

    <context:component-scan base-package="com.founder.xc" />

    <bean id="atmaEntityManager" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="atma_mgmt" />
        <property name="dataSource">
            <jee:jndi-lookup jndi-name="jdbc/atma" />
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="atmaEntityManager" />
    </bean>

    <bean id="multipartResolver" name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- set the max upload size100MB -->
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="4096"/>
    </bean>

    <!-- MGMT API URL -->
    <bean id="mgmtApiUrl" class="java.lang.String">
        <constructor-arg value="http://10.60.148.55:8080/EzManager6"/>
    </bean>

    <bean id="userMgmt" class="com.easymap.management.api.UserManager" scope="prototype">
        <constructor-arg ref="mgmtApiUrl"/>
    </bean>

    <bean id="funcMgmt" class="com.easymap.management.newapi.FunctionManager" scope="prototype">
        <constructor-arg ref="mgmtApiUrl"/>
    </bean>

    <bean id="orgMgmt" class="com.easymap.management.api.OrganizationManager" scope="prototype">
        <constructor-arg ref="mgmtApiUrl"/>
    </bean>

    <bean id="logMgmt" class="com.easymap.management.api.LogManager" scope="prototype">
        <constructor-arg ref="mgmtApiUrl"/>
    </bean>

</beans>
